body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    text-decoration: none;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.sidebar{
    padding-left: 10px;
    width: 97%;
    height: 100%;
    background-color:antiquewhite;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    display: none;
    align-items: center;
    justify-content: center;
}
.sidebar nav ul{
    list-style: none;
    padding: 10px;
    margin: 10px;
    position: -webkit-sticky;
}
.sidebar nav ul li{
    display: inline-block;
    margin: 20px 10px;
    padding: auto;
}
.sidebar nav ul li:last-child{
    margin-bottom: 0;
}
.sidebar nav ul li a{
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
.sidebar nav ul li a:hover{
    color: #007BFF;
    border-top: 2px solid red;
    border-bottom: 2px solid red;
}

.header{
    background-color: rgb(240, 240, 240);
    width: 100%;
    position: relative;
}
.header h1, p{
    text-align: center;
    color: #007BFF;
}
.header div{
    text-align: center;
    color: #333;
}
.sidebar div nav{
    list-style: none;
    position: relative;
    transform: translate(-50%);
    top: 10%;
    left: 50%;
}
.header div nav ul li{
    display: inline-block;
    margin: 0 15px;
}
.header div nav ul li a{
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}
.header div nav ul li a:hover{
    border-bottom: 2px solid #007BFF;
}
 hr{
    width: 100%;
    color: #007BFF;
    border: 1px solid #007BFF;
}

.updatenews{
    padding: 5px 5px 5px 5px;
    height: 120px;
    font-weight: 200px;
    margin: 0.5px;
    text-align: center;
}
.updatenews ul a{
  font-weight: 400px;
}
.new{
    text-align: left;
    padding: 10px;
}
.new p{
    text-align: left;
    margin: 20px;
}

@media (min-width: 800px) {
    .header div nav ul li a{
        padding-left: 10px;
        width: 100%;
        height: 100%;
        color: black;
        display: none;
        align-items: center;
        justify-content: center;
    }
    .header div nav{
        list-style: none;
        transform: translate(-60%);
        top: 5%;
        left: 50%;
    }
    .header div nav ul li{
        display: inline-block;
        margin: 0 10px;
    }
    .header img{
      display: none;
    }
    .sidebar{
        padding-left: 5px;
        width: 100%;
        height: 100%;
        background-color:antiquewhite;
        box-shadow: 2px 0 5px rgba(0,0,0,0.1);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .sidebar  div nav ul{
        list-style-type: none;
        padding: 10px;
        margin: 10px;
    }
    .sidebar nav ul li{
        display: inline-block;
        margin: 20px 10px;
        padding: auto;
    }
    .featured {
      grid-template-columns: 1fr 1fr;
    }
    .grid {
      grid-template-columns: repeat(3, 1fr);
    }
    section{
      text-align: center;
    }
}  
  
a{
    text-decoration: none;
    color: #007BFF;
}
@media (min-width: 768px) {
  .featured {
    grid-template-columns: auto 1fr;
  }
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
.read {
  display: inline-block;
  margin-top: 10px;
  color: #0b5ed7;
  font-weight: bold;
}
.read:hover{
  border-bottom: 2px solid blue;

}
article {
  background: #fff;
  padding: 15px;
  border-radius: 6px;
}

.article {
  background: #fff;
  margin: 15px;
  padding: 20px;
  border-radius: 6px;
}
.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  margin: 15px;
}

.featured {
  background: white;
  margin: 15px;
  padding: 15px;
  border-radius: 6px;
}
h2, h3{
  text-align: center;
}
.news{
  border-bottom: 1px solid #ccc;
  padding: 10px;
}
.tag {
  display: inline-block;
  text-align: center;
  background: #0b5ed7;
  color: white;
  padding: 4px 8px;
  font-size: 12px;
  border-radius: 4px;
}
.section {
  background: white;
  margin: 15px;
  padding: 15px;
  border-radius: 6px;
}
.footer {
  text-align: center;
  padding: 15px;
  font-size: 14px;
  background: #ffffff;
}